# Deliverable 2
This is the notebook that has the second deliverable.

# 0. Import modules
Feel free to use the virtual environment (amonavis) included in the GitHub folder.

In [29]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt 
import networkx

# For semantic similarity
from urllib.parse import unquote
from transformers import BertTokenizer, BertModel
from sklearn.metrics.pairwise import cosine_similarity

# Python functions in .py file to read data
import data_readers

# 1. Data reading
The following code reads the data and saves them in the appropriate variables.

<br><br><br>
**finished_paths**

The datafile includes the hashedIpAddress, timestamp, durationInSec, path, and rating.

We also add columns with the first article (soruce), last article (target), path length (#articles), and a readable date in Timestamp format.

<br><br>
**articles**

Dataframe with the name of all articles in the dataset.


<br><br><br>


<div style="border: 2px solid white; padding: 10px;">
    <font color="red">please briefly describe the other files. As I only worked with finished_paths and articles, I guess it's better if someone who used them does that. Also add a sample of how each data looks like. </font>
</div>

In [26]:
# The links and edges
wikispeedia = data_readers.read_wikispeedia_graph()

# The finished paths
finished_paths = data_readers.read_finished_paths()

# The unfinished paths
unfinished_paths = data_readers.read_unfinished_paths()

# List of all articles
articles = data_readers.read_articles()

# The shortest path matrix
# This one is the slowest to read by far, probably due to the weird parsing that has to be done!
shortest_path_df = data_readers.read_shortest_path_df()

# Searching for the string of a given article. It has to be formatted like the article name
# Which shouldn't be a problem, as we'll probably usually retrieve them internally
obi_wan_text = data_readers.plaintext_article_finder('Obi-Wan_Kenobi')

In [36]:
wikispeedia.head() # This obviously doesn't work but I don't know how to fix it xd

AttributeError: 'DiGraph' object has no attribute 'head'

In [30]:
finished_paths.sample(5)

,hashedIpAddress,timestamp,durationInSec,path,rating,first_article,last_article,path_length,date
29743,731282ad7471ca17,1257536736,28,Ozone;Sun;Planet;Venus,NaN,Ozone,Venus,4,2009-11-06 19:45:36
45796,5f570722327e17e9,1249599855,125,Ramesses_II;Israel;United_Kingdom;River_Thames,NaN,Ramesses_II,River_Thames,4,2009-08-06 23:04:15
12885,5975c03e7ce87ba5,1351323019,142,Asteroid;Mars;Roman_mythology;Mythology;Norse_...,3.0,Asteroid,Viking,9,2012-10-27 07:30:19
20788,7f6eb13a10c0d8a5,1373348817,151,Pyramid;Mexico;Agriculture;Soybean;<;Rice;Seed...,2.0,Pyramid,Bean,8,2013-07-09 05:46:57
45242,276f5f9603acc0b9,1359682562,165,Plymouth;England;<;Ghana;Africa;Sierra_Leone,NaN,Plymouth,Sierra_Leone,6,2013-02-01 01:36:02

In [33]:
unfinished_paths.sample(5)

,hashedIpAddress,timestamp,durationInSec,path,target,type
7713,28ed64876d7d2fcb,1330484522,259,Tunis;Capital;City;United_States;Cinema_of_the...,King_Kong_%282005_film%29,restart
17741,522c265d73d7ace6,1365024347,1824,Albania;Roman_Empire,ALCO_FA,timeout
3822,100ae36c715fdfc9,1306551464,183,Space_Shuttle_program;International_Space_Stat...,Great_Wall_of_China,restart
23307,3a4945025802b208,1384358526,69,Drought;Agriculture;Food;English_language;Unit...,Krazy_Kat,restart
12161,6b53e12119b3efb0,1347740880,64,Extrasolar_planet;Solar_System,Three_Laws_of_Robotics,restart

In [31]:
articles.sample(5)

                   articles
1605                Funchal
61              90377_Sedna
3852    Spring_%28season%29
1456  Extraterrestrial_life
416          Avro_Lancaster

In [38]:
shortest_path_df.sample(5)

,"(%C3%81ed%C3%A1n_mac_Gabr%C3%A1in,)","(%C3%85land,)","(%C3%89douard_Manet,)","(%C3%89ire,)","(%C3%93engus_I_of_the_Picts,)","(%E2%82%AC2_commemorative_coins,)","(10th_century,)","(11th_century,)","(12th_century,)","(13th_century,)",...,"(Ziad_Jarrah,)","(Zimbabwe,)","(Zinc,)","(Zinc_chloride,)","(Zion_National_Park,)","(Zionism,)","(Zirconium,)","(Zoroaster,)","(Zuid-Gelders,)","(Zulu,)"
"(X-Men__The_Last_Stand,)",-1,-1,-1,-1,-1,-1,3,3,3,2,...,3,3,2,3,3,3,3,3,4,3
"(Water_polo,)",-1,-1,-1,-1,-1,-1,3,3,3,3,...,3,3,3,4,4,3,4,3,4,3
"(Greek_War_of_Independence,)",-1,-1,-1,-1,-1,-1,2,2,2,2,...,4,3,3,4,4,2,4,3,4,2
"(Tom_and_Jerry_%28MGM%29,)",-1,-1,-1,-1,-1,-1,3,3,3,3,...,3,3,3,4,3,3,4,3,3,3
"(Mao_Zedong,)",-1,-1,-1,-1,-1,-1,2,2,2,2,...,3,3,3,4,3,3,4,3,3,3

In [39]:
obi_wan_text

'   #copyright\n\nObi-Wan Kenobi\n\n2007 Schools Wikipedia Selection. Related subjects: Films\n\n   Star Wars character\n   Obi-Wan "Ben" Kenobi\n     __________________________________________________________________\n\n   Position Jedi Master, Jedi Council Member, General of the Republic\n   Homeworld Unknown\n   Species Human\n   Gender Male\n   Height 1.75 m\n   Affiliation Jedi Order, Galactic Republic, Rebel Alliance\n   Portrayed by Ewan McGregor (Episodes I-III)\n   Sir Alec Guinness (Episodes IV-VI)\n\n   Obi-Wan "Ben" Kenobi ( 57 – 0 BBY) is a fictional character in the Star\n   Wars universe. He is one of the most prominent characters in the Star\n   Wars saga; along with Anakin Skywalker, R2-D2, and C-3PO, he is one of\n   the few major characters to have appearances (in some form or another)\n   in each of the six Star Wars films. He was portrayed in Episodes I-III\n   by Ewan McGregor, and in Episodes IV-VI by Sir Alec Guinness. He is\n   voiced by Bernard Behrens in the NPR radio adaptation of Star Wars, and\n   by James Arnold Taylor in the Clone Wars micro series and in the video\n   game Revenge of the Sith.\n\n   Kenobi first appears in A New Hope, seemingly a reclusive hermit. He is\n   revealed as a Jedi Knight, who then tutors Luke Skywalker in the Jedi\n   arts. In episodes I-III he appears as a young Jedi, progressing from\n   apprentice to master and tutoring the young Anakin Skywalker, Luke\'s\n   father. Additional fiction in the Expanded Universe fills in more\n   details of his life.\n\n   Spoiler warning: Plot and/or ending details follow.\n\nPersonality\n\n   In his youth (circa The Phantom Menace), the loyal and dedicated\n   Obi-Wan Kenobi possessed a dry sense of humor and sarcastic wit, and a\n   natural defiance. As a Jedi Knight, Kenobi seemed wise beyond his\n   years, if a touch cynical, with a declared distrust of politicians. His\n   humble and soft-spoken demeanor belied his warrior prowess. A skilled\n   pilot (who, ironically, didn\'t like to fly), Kenobi could make peace\n   with words, giving him the nickname "The Negotiator" during the Clone\n   Wars.\n\n   In the original trilogy, he appeared as a kindly and eccentric old\n   hermit of the Jundland Wastes, and wizard to those not familiar with\n   the ways of the Jedi. During the Star Wars prequel trilogy, Kenobi\n   matures from a \'by the book\', headstrong and almost cold Jedi\n   apprentice (or Padawan) in The Phantom Menace into a more sociable, but\n   more cautious mentor in Attack of the Clones and Revenge of the Sith.\n\nAppearances\n\nThe Phantom Menace\n\n   At the beginning of The Phantom Menace, Kenobi is a 25-year old Padawan\n   to Qui-Gon Jinn ( Liam Neeson). He accompanies Qui-Gon to Naboo, a\n   planet ruled by Queen Padmé Amidala (Natalie Portman). After making an\n   unscheduled landing on Tatooine, his master stumbles upon Anakin\n   Skywalker ( Jake Lloyd), a young slave who shows tremendous potential\n   with the Force. Believing the boy to be the prophesied " Chosen One"\n   who would bring balance to the Force by destroying the Sith, Master\n   Jinn wants the boy to be trained as a Jedi. Kenobi is also amazed in\n   Anakin\'s unprecedented midi-chlorian count and strong Force potential,\n   but initially thinks he should not be trained, believing the boy is\n   already too old and had acquired too many emotional attachments to\n   become a Jedi. Qui-Gon responds by saying that he will take on Anakin\n   as a Padawan and informs the Jedi Council that Kenobi, his current\n   Padawan, is ready to be a full Jedi Knight. However, the Council agrees\n   with Kenobi, and forbids training for Anakin, in whom they see a great\n   deal of fear and anger.\n\n   During the Battle of Naboo, Queen Amidala and her entourage of guards\n   split up from her Jedi bodyguards when the Sith Lord Darth Maul ( Ray\n   Park) arrives to eliminate the Queen. Wielding a double-bladed\n   lightsaber, Maul simultaneously battles them both. Kenobi, separated\n   from the battle via holo-shields, watches in horror as his master is\n   impaled by Maul\'s saber. Enraged, Kenobi attacks the Sith Lord,\n   fiercely and rapidly engaging Maul in a duel, cutting Maul\'s lightsaber\n   in half. Maul Force-pushes Kenobi into a reactor chasm and kicks his\n   lightsaber into the depths below. Kenobi is saved by an extending pole\n   that he barely grabs hold of. Utilizing his skills with the Force,\n   Kenobi hurls himself into the air and simultaneously brings his\n   master\'s saber into his hand, startling Maul and giving him just enough\n   time to slice the Sith apprentice in half. The dying Jinn tells Kenobi\n   to train Anakin Skywalker to be a Jedi, and Kenobi promises that he\n   will.\n\n   For his heroics in defeating a Sith (making him the first Jedi in a\n   thousand years to do so), Master Yoda personally bestows the rank of\n   Jedi Knight upon Kenobi, who then says that he would take it upon\n   himself to train Anakin whether the Council allowed him to or not. Yoda\n   reluctantly agrees, but warns Kenobi to be careful with the troubled\n   boy.\n\nAttack of the Clones\n\n   Ten years later, in Attack of the Clones, Kenobi has become an\n   experienced Jedi Knight. He and Anakin (now played by Hayden\n   Christensen) are tasked with protecting Padmé, now a Senator, after an\n   attempt is made on her life. Kenobi tracks the mysterious assassin Zam\n   Wesell to Kamino, and learns about a massive clone army that the\n   Kaminoans are building for the Galactic Republic. He then meets with\n   the bounty hunter Jango Fett ( Temuera Morrison), the template for the\n   clones, and figures out that he is the one responsible for the\n   assassination attempts on Senator Amidala.\n\n   Attack of the Clones reveals that Kenobi\'s relationship with Anakin is,\n   by now, strained; Over the years, Anakin has become a headstrong and\n   arrogant young man, and is beginning to chafe under his Master\'s\n   leadership. More dangerously, he has begun to ignore Kenobi\'s teachings\n   in favour of the advice of Chancellor Palpatine ( Ian McDiarmid), who\n   feeds the young man\'s fragile ego and subtly undermines his faith in\n   the old Jedi ways. Anakin and Padmé have also fallen in love, an\n   emotional attachment forbidden to Jedi Knights by the Jedi Code.\n\n   Kenobi attempts to apprehend Fett, but he escapes to Geonosis with his\n   son/unaltered clone Boba ( Daniel Logan). Kenobi follows them by\n   placing a homing beacon on Fett\'s ship, Slave I.\n\n   On Geonosis, Kenobi learns of the Confederacy of Independent Systems,\n   also known as the Separatists, a conspiracy of star systems that wants\n   to secede from the Republic, led by rogue Jedi Count Dooku (\n   Christopher Lee), who was once Qui-Gon Jinn\'s master. Kenobi is\n   captured shortly after sending a message to Anakin, who arrived with\n   Padmé on Geonosis to rescue him afterwards. While in captivity, Dooku\n   reveals that the Senate is under the control of a Sith Lord called\n   Darth Sidious. Anakin and Padmé are also captured, and all three are\n   sentenced to death by the Geonosians. The executions are prevented by\n   the timely arrival of Jedi and clone reinforcements, led by Jedi\n   Masters Mace Windu ( Samuel L. Jackson) and Yoda ( Frank Oz). Kenobi\n   and Anakin confront Dooku and engage him in a lightsaber duel. Dooku\n   strikes Anakin with Force lightning as he charges at him in anger, then\n   turns the deadly barrage onto Kenobi, who easily blocks the attack with\n   his lightsaber. Dooku manages to outmanuever Kenobi, slicing him on\n   both his left arm and leg. Dooku is about to deliver a killing blow\n   when Anakin recovers from the lightning and blocks Dooku\'s attack.\n   Count Dooku and Anakin fight a short duel, and Dooku cuts off Anakin\'s\n   right arm (which was later replaced by a robotic prosthetic). Yoda\n   arrives and fights Dooku as well, but the Sith Lord diverts Yoda\'s\n   attention by using his powers to dislodge a piece of machinery to come\n   down on the still incapacitated Anakin and Kenobi. Yoda uses his powers\n   to prevent them from being crushed, allowing Dooku to escape.\n\nThe Clone Wars\n\n   Throughout the three years of the Clone Wars, Kenobi becomes one the\n   galaxy\'s most storied generals (having been granted the rank of General\n   early in the war), nicknamed "The Negotiator" for his diplomatic skill\n   and resolve to fight only when all other options have been exhausted.\n   Just before the Clone Wars he was granted the rank of Jedi Master, and\n   given a seat on the Council.\n\n   The Battle of Geonosis is the first battle in the Clone Wars that\n   Kenobi would be involved in. The battle began with 212 Jedi against\n   over 1 million Battle Droids. Over 100 Jedi fell in the battle and\n   Obi-Wan was one of the few who were skilled enough to stay alive. It\n   was due to Kenobi’s mastery of the lightsaber form Soresu, which\n   focuses on defense from blaster fire, that he survived. With the\n   arrival of 192,000 clone troopers 1,600 LAAT/i gunships, 400 LAAT/c\n   cargo gunships, 2,160 AT-TE walkers, 100 SPHA-T artillery units and 12\n   Acclamator-class assault ships, the battle fell into the Republics\n   favour.\n\n   Kenobi then commands Republic forces in the Battle of Kamino, in which\n   the CIS tried to take out the Republic\'s cloning facilities. Kenobi,\n   Anakin and Shaak Ti fight alongside the newly activated Advanced\n   Reconnaissance Commando (ARC) troopers and drive back the Separatists.\n\n   The Clone Wars micro series begins with the Battle of Muunilinst. In\n   this battle, Kenobi and Anakin\'s clone forces fight against the\n   Intergalactic Banking Clan, a Separatist ally. While Anakin wants to\n   launch an all-out military attack, Kenobi has a more strategic plan: to\n   distract the Separatists with clone forces while he sends ARC troopers\n   to enter at the rear of the battle to infiltrate the command centre. It\n   is in this conflict that Chancellor Palpatine promotes Anakin to the\n   rank of Commander over Kenobi\'s objections, exploiting the growing rift\n   between Master and apprentice.\n\n   The battle goes well until the bounty hunter Durge leads an army of IG\n   lancer droids toward the heart of the Republic\'s forces. Durge’s attack\n   turns the battle in the Separatists\' favour after his armirs destroy\n   many of the SPHA-T vehicles of the supporting line. Kenobi rallies\n   together an army on Lancer Swoop Bikes to meet Durge and his army.\n   After a short but Gruesome Lancer Swoop Bike battle that left only\n   Obi-Wan Durge living, Kenobi and Durge face off in a duel. Durge\n   attacked Kenobi with every weapon he had, but Kenobi easily deflected\n   the attacks. Durge would of had a better chance of winning if he\n   battled 200 clone troopers, but Against Kenobi he had no chance.\n   Piercing Durge with his lightsaber, cutting off his arm and slicing him\n   in half, Kenobi wins the duel. The battle ends with San Hill’s\n   surrender.\n\n   The Battle of Jabiim is ultimately a victory, but the Jedi suffer\n   terrible losses. In the month the battle lasted, 18 Jedi Knights (with\n   Kenobi believed to be among them) and some 9,000 clone troopers are\n   killed by Jabiimite rebels. The Jedi and their clone troopers are\n   forced to retreat leaving the Separatists in control. Kenobi,\n   meanwhile, is kidnapped along with an ARC trooper by Asajj Ventress,\n   one of Dooku\'s Sith apprentices. She engages Kenobi in a lightsaber\n   duel, in which the injured Jedi Master is at a disadvantage. He escapes\n   when an ARC trooper blows up Ventress\' fueling station.\n\n   Kenobi meets Ventress many times during the war. Their last encounter\n   is on Boz Pity, when Kenobi and Anakin infiltrate a bacta facility in\n   which Dooku has placed her to recover from battle wounds. Dooku\n   releases her to attack the two Jedi, creating an opportunity to escape.\n   As she runs towards the ship, Dooku orders an IG-100 MagnaGuard to kill\n   her as she approaches. Blinded with rage and fatally wounded, Ventress\n   tries to kill Kenobi as he tries to help her. Anakin attacks from\n   behind and and mortally wounds the distracted Sith. The "dying"\n   Ventress tells Kenobi the location of the Separatists\' next attack. She\n   then lets go of her anger and places herself in a Sith trance. Thinking\n   her dead, Kenobi places her on a ship to Coruscant.\n\n   While on the planet Nelvaan, on a reconnaissance mission, the Battle of\n   Coruscant begins and the Chancellor is kidnapped by General Grievous (\n   Matthew Wood). Kenobi and Anakin are then contacted by Mace Windu to\n   return to Coruscant. On the way to Coruscant Obi-Wan planned an\n   operation to rescue the Chancellor, the plan included sending his clone\n   troopers to clear the way to General Grievous’s flag ship “The\n   Invisible Hand” while him and Anakin slip past the defences and\n   infiltrate the ship with their advanced Jedi starfighters. The rest of\n   the Clone Wars continues in the Star Wars: Revenge of the Sith.\n\nRevenge of the Sith\n\n   At the beginning of Revenge of the Sith, Kenobi and Anakin board\n   Grievous\' flagship, the Invisible Hand, and fight their way to the\n   Chancellor. There, they find Dooku, who engages them both in a duel.\n   During the duel, Kenobi is rendered unconscious, leaving Anakin to face\n   Dooku alone. Anakin defeats Dooku and, at Palpatine\'s urging, executes\n   the defenseless Count, in violation of the Jedi Code.\n\n   When Palpatine appoints Anakin to the Jedi Council as his\n   representative, Kenobi (with the rest of the Council) disapproves,\n   considering Anakin too young and headstrong, and reasoning that his\n   membership gives the Chancellor a vote in Jedi affairs. Anakin protests\n   when the Jedi Council denies him the rank of Master and orders him to\n   spy on Palpatine, but Kenobi talks him into accepting it, warning\n   Anakin of his "dangerous" friendship with the Chancellor.\n\n   Kenobi is called away to Utapau to confront General Grievous. This\n   leaves Palpatine, who is secretly the Sith Lord Darth Sidious, free to\n   continue corrupting Anakin, who eventually embraces the dark side and\n   takes the Sith title and name Darth Vader.\n\n   Kenobi engages Grievous in combat and, after an exhausting battle,\n   shoots and kills him with a blaster. Moments later, however, Kenobi\'s\n   own clone forces turn on him, a result of Order 66 issued by Palpatine\n   causing clone troopers to turn on their Jedi generals. Kenobi escapes\n   by stealing Grievous\' star fighter and rendezvousing with Bail Organa (\n   Jimmy Smits) and Yoda aboard Organa\'s ship, the Tantive IV.\n\n   Along with Yoda and Organa, Kenobi returns to Coruscant, where he and\n   Yoda discover that every Jedi in the Jedi Temple has been murdered,\n   even the children. They kill the clones remaining at the Temple, and\n   discover that the clones were led there by Anakin. Kenobi reprogrammes\n   a beacon which had been instructing all remaining Jedi to return to\n   Coruscant (where they surely would be slain), making it instruct them\n   to scatter across the galaxy and remain in hiding.\n\n   Subsequently, Kenobi and Yoda split up to confront the two Sith Lords,\n   Vader and Sidious. Kenobi wished to fight Sidious, hating the thought\n   of having to kill his long-time friend and pupil. Yoda, however,\n   insists that Kenobi is not strong enough to fight Sidious, and that he\n   will have to accept that Anakin had been "consumed by Darth Vader."\n\n   Before going to fight his former Padawan, however, Kenobi goes to visit\n   Padmé, who by now is Anakin\'s secret wife and is pregnant with his\n   child. He mournfully tells her what Anakin has done, and reveals that\n   he knows about their marriage. A horrified Padmé refuses to accept what\n   Kenobi tells her, but is brave enough to go out and confront Anakin\n   herself. Kenobi stows away in her ship.\n\n   Kenobi finds Vader at the volcanic moon of Mustafar, and attempts to\n   reason with his former student to pull him away from the dark side.\n   When he emerges from Padmé\'s ship, however, Vader immediately suspects\n   that Padmé has betrayed him, and uses the dark side to choke her into\n   unconsciousness. Vader reveals himself to be mad with power and\n   corrupted (seemingly) beyond redemption, leaving Kenobi no choice but\n   to engage him in a long and epic duel, which spans through the Mustafar\n   mining complex, the lava rivers, and finally the black sand. Kenobi\n   tries to persuade Vader to relent, but Vader ignores his warnings and\n   leaps forward to deliver the killing blow. Kenobi sees an opening and\n   severs Vader\'s legs and remaining arm with one stroke. Kenobi refuses\n   to inflict the killing blow to his former apprentice, partner, and\n   friend, but leaves Vader burning on the volcanic slopes, and takes\n   Anakin\'s lightsaber with him. Vader sustains near-fatal third-degree\n   burns and severe lung and throat damage. He survives long enough to be\n   rescued by Palpatine, and is later saved via extensive medical\n   prosthetics and an artificial respirator, transforming him into the\n   fearsome cyborg we know as Darth Vader from the first trilogy.\n\n   Kenobi assists in hiding Anakin\'s children after Padmé dies in\n   childbirth. Luke is put on Tatooine with Owen Lars, so that Kenobi can\n   look after him in secret, while his twin Leia was put on Alderaan with\n   Senator Organa. Yoda tells Obi-Wan that he had more training for him:\n   the spirit of Qui-Gon Jinn would teach him how to retain his identity\n   through the Force and commune with the living after death. (Even though\n   this scene was filmed, it was not shown on the DVD or the cinemas.)\n\nA New Hope\n\n   Twenty years after the events of Episode III, Kenobi makes his first\n   appearance in the movies in Episode IV: A New Hope. Going by the name\n   Ben, (in order to remain in hiding from the Empire) he\'s first seen\n   rescuing Luke Skywalker ( Mark Hamill) from Tusken Raiders while Luke\n   is in the Jundland Wastes of Tatooine looking for R2-D2 ( Kenny Baker).\n   Kenobi eventually hears R2-D2\'s message from Princess Leia Organa (\n   Carrie Fisher) asking for his help in delivering the schematics of the\n   Death Star to Alderaan. Kenobi takes young Luke under his wing in order\n   to teach him the ways of the Force with the intention of fully training\n   the boy later, on Alderaan. When Luke asks Kenobi about his father,\n   Kenobi disguises the truth from him, saying, "a young Jedi named Darth\n   Vader... betrayed and murdered your father." In Kenobi\'s way of\n   thinking, this was not entirely untrue: Anakin Skywalker died the\n   moment he betrayed the Jedi, completely becoming Darth Vader.\n\n   Kenobi and Luke buy passage to Alderaan on the Millennium Falcon, a\n   junk ship owned by smuggler Han Solo ( Harrison Ford) with Chewbacca, a\n   Wookiee . Before they can reach their destination, however, Alderaan is\n   destroyed by the Death Star on the orders of Grand Moff Tarkin ( Peter\n   Cushing). The Millennium Falcon is captured by the Death Star\'s tractor\n   beam. By a quirk of fate, Princess Leia is on board, and her rescue is\n   gallantly executed by Han and Luke. Kenobi, meanwhile, sets off to\n   disable the tractor beam so that the Falcon can escape. Kenobi is aware\n   of Vader\'s presence, and knows he isn\'t coming back. He deactivates the\n   tractor beam, and is confronted by Vader, who engages him in a\n   lightsaber duel. Kenobi allows Vader to kill him in order to create a\n   distraction so Luke can escape.\n\nThe Empire Strikes Back\n\n   In Episode V: The Empire Strikes Back just before Luke is knocked out\n   on the plains of Hoth, Kenobi appears and tells Luke 

# 2. Study of Unique Paths
Here we study the unique source and target pairs. We will use the dataframes to compare the performance between humans and machines, as well as to know what paths to make machines complete.

**article_combinations**

This dataframe contains information on all the combination of source and target articles in the finished games (paths). It includes how many times it has been played, and the mean and std of the path length, duration of the game, and rating.

**unique_targets** and **unique_sources**

These dataframes include all the sources and targets that appears in the finished games

<br><br>
Note that we don't change to ASCII the name of the articles yet. We will do it at a later step if we need to.
<br><br>


<div style="border: 2px solid white; padding: 10px;">
    <font color="red">feel free to move this wherever works better. Maybe not the best thing to have at the beginning of the notebook.</font>
</div>

In [23]:
# How many each pair of articles has been visited
article_combinations_count = finished_paths.groupby(['first_article', 'last_article']).size().reset_index(name='count')

# The mean and std of the path length for each pair of articles
article_combinations_stats = finished_paths.groupby(['first_article', 'last_article'])['path_length'].agg(['mean', 'std']).reset_index()
article_combinations_stats['std'] = article_combinations_stats['std'].fillna(0)
article_combinations_stats.rename(columns={'mean': 'mean_length', 'std': 'std_length'}, inplace=True)

# The mean and std of the rating for each pair of articles. 
    # Note that mean and std may be nan if there are nan ratings. We purposely leave them as nan, as we don't want to fill them with 0s or 1s.
    # Depending on the application, we could change this in the future if neeeded.
rating_combinations_stats_rating = finished_paths.groupby(['first_article', 'last_article'])['rating'].agg(['mean', 'std']).reset_index()
#rating_combinations_stats_rating['std'] = rating_combinations_stats_rating['std'].fillna(0)
mask = rating_combinations_stats_rating['mean'].notnull()
rating_combinations_stats_rating.loc[mask, 'std'] = rating_combinations_stats_rating.loc[mask, 'std'].fillna(0)
rating_combinations_stats_rating.rename(columns={'mean': 'mean_rating', 'std': 'std_rating'}, inplace=True)

# The mean and std of the time for each pair of articles.
rating_combinations_stats_time = finished_paths.groupby(['first_article', 'last_article'])['durationInSec'].agg(['mean', 'std']).reset_index()
rating_combinations_stats_time['std'] = rating_combinations_stats_time['std'].fillna(0)
rating_combinations_stats_time.rename(columns={'mean': 'mean_durationInSec', 'std': 'std_durationInSec'}, inplace=True)

# Merging all the dataframes
article_combinations = pd.merge(article_combinations_count, article_combinations_stats, on=['first_article', 'last_article'])
article_combinations = pd.merge(article_combinations, rating_combinations_stats_rating, on=['first_article', 'last_article'])
article_combinations = pd.merge(article_combinations, rating_combinations_stats_time, on=['first_article', 'last_article'])

# The number of unique sources and targets
unique_sources = finished_paths['first_article'].value_counts().reset_index()
unique_targets = finished_paths['last_article'].value_counts().reset_index()

In [25]:
article_combinations.sample(5)

,first_article,last_article,count,mean_length,std_length,mean_rating,std_rating,mean_durationInSec,std_durationInSec
17915,Music_of_Ireland,Extrasolar_planet,1,6.00,0.0,2.0,0.0,28.00,0.000000
23580,Sodium,Angola,1,5.00,0.0,2.0,0.0,51.00,0.000000
12927,Hurricane_Ivan,Monaco,1,6.00,0.0,NaN,NaN,49.00,0.000000
15738,Liverpool,Union_Station_%28San_Diego%29,1,7.00,0.0,3.0,0.0,454.00,0.000000
3382,Bay_of_Bengal,Athens,4,5.75,0.5,4.0,0.0,96.25,62.419949

In [26]:
unique_sources.sample(5)

     first_article  count
1543          Dune     11
87    Barack_Obama     34
1856     Mysticism     10
3444   Stickleback      4
3847       Maghreb      3

In [28]:
unique_targets.sample(5)

          last_article  count
535      West_Virginia     22
3243             ASCII      4
2417  Nahuatl_language      6
2487    Damascus_steel      6
598          Newspaper     21

# 3. Semantic Similarity

An important part of the project is to study how humans and machines move from article to article. Semantic similarity compares two strings based on a trained model and assigns a value according to how are they correlated (the higher, the more related). For example, 'king' and 'queen' will have a higher semantic similarity than say, 'king' and 'chemistry' (will prove this here).

### Remove the underscore and decode the url

First we define a function that corrects the strings to have a readable format. For example, '%C3%89douard_Manet' is transformed to 'Édouard Manet'.

We will create a function to decode a word, and we will be able to use it in series and dataframes using apply().

In [10]:
def decode_word(word):
    word = word.replace('_', ' ')
    return unquote(word)

In [15]:
articles['articles'].head(5)

0    %C3%81ed%C3%A1n_mac_Gabr%C3%A1in
1                          %C3%85land
2                  %C3%89douard_Manet
3                           %C3%89ire
4          %C3%93engus_I_of_the_Picts
Name: articles, dtype: object

In [14]:
articles['articles'].apply(decode_word).head(5)

0        Áedán mac Gabráin
1                    Åland
2            Édouard Manet
3                     Éire
4    Óengus I of the Picts
Name: articles, dtype: object

### Semantic Distance Model
We create a function that returns the semantic similarity between two words you provide.

In [2]:
# We define the model outside the function (make sure to run this before using the function)
model = BertModel.from_pretrained('bert-base-uncased')
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

In [4]:
# Function to get embeddings (just because we will use it in semantic similarity function)
def get_embedding(text):
    inputs = tokenizer(text, return_tensors="pt")
    outputs = model(**inputs)
    return outputs.last_hidden_state.mean(dim=1)

# Semantic similarity function
def semantic_similarity(word1, word2):
    embedding1 = get_embedding(word1)
    embedding2 = get_embedding(word2)
    return cosine_similarity(embedding1.detach().numpy(), embedding2.detach().numpy())[0][0]

In [5]:
semantic_similarity('king', 'queen')

0.9388244

In [16]:
semantic_similarity('king', 'chemistry')

0.655022

### Semantic Distance Matrix
Provided a series, it creates a df where indices and column names are the strings of the series, and fills the matrix with the semantic similarity between all words in the provided series.

In [22]:
def semantic_similarity_matrix(titles):
    df = pd.DataFrame(index=titles, columns=titles)
    for i in range(len(titles)):
        for j in range(i+1, len(titles)):
            embedding1 = get_embedding(titles[i])
            embedding2 = get_embedding(titles[j])
            similarity = cosine_similarity(embedding1.detach().numpy(), embedding2.detach().numpy())[0][0]
            df.iloc[i, j] = similarity
            df.iloc[j, i] = similarity  # Copy value to lower triangle
            np.fill_diagonal(df.values, 1)
    return df

In [23]:
semantic_similarity_matrix(pd.Series(['king', 'queen', 'chemistry', 'biology']))

               king     queen chemistry   biology
king              1  0.938824  0.655022  0.734002
queen      0.938824         1  0.633365  0.745616
chemistry  0.655022  0.633365         1  0.846376
biology    0.734002  0.745616  0.846376         1